@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0 auto;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* max-width: 1200px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Golos Text", sans-serif;
  font-weight: normal;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.eco-button{
  color: black;
  display: block;
  padding: 10px 20px;
  text-align: center;
  background-color: #C5FDC5;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  font-family: "Golos Text", sans-serif;
  font-weight: normal;
  border: none;
}
.eco-button:hover{
  background-color: white;
  border: 1px solid green;
}
.page{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;

}
.sidebar{
  width: fit-content;
  position: fixed;
  height: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  height: 100%;
  background-color: white;
}

.main_header{
  padding: 20px;
}
.header_title{
  font-family: Golos Text, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: start;
  padding: 10px;
  color: black;
}
h2{
  font-family: Golos Text, sans-serif;
  font-weight: 500;
  font-size: 18px;
}



/* #app {
  max-width: 1280px;
  margin: 0 auto;
} */

ul{
  list-style-type: none;
}
